<!DOCTYPE html>
<html lang="en">
<head>
    {% include "./general/header.html" %}
</head>
<body>
    {% include "./general/navbar.html" %}
    <header class="bg-success bg-gradient text-white text-center py-5">
        <div class="container d-flex align-items-center flex-column">
            <img class="mb-5" alt="CloudGoat logo" src="static/img/logo.png" height="250px">
            <h1 class="display-3 fw-bold text-uppercase mb-0">CloudGoat Graphical User Interface</h1>
            <div class="w-100 my-4 fs-4 d-flex justify-content-center">
                <div class="me-3 lh-1 fw-bold">-------</div>
                <i class="fas fa-star"></i>
                <div class="ms-3 lh-1 fw-bold">-------</div>
            </div>
            <p class="fst-italic fs-4 fw-light mb-0">CloudGoat is Rhino Security Labs' "Vulnerable by Design" AWS deployment tool.
            </p>
        </div>
    </header>
    <section class="py-5">
        <div class="container">
            <h1 class="display-5 fw-bold text-uppercase text-center mb-0">CloudGoat 2.0 is here!</h1>
            <div class="w-100 my-4 fs-4 d-flex justify-content-center">
                <div class="me-3 lh-1 fw-bold">-------</div>
                <i class="fas fa-star"></i>
                <div class="ms-3 lh-1 fw-bold">-------</div>
            </div>
            <div class="row justify-content-center mb-4">
                <div class="col-lg-8 col-xl-7">
                    <p class="lead">
                        CloudGoat is Rhino Security Labs' "Vulnerable by Design" AWS deployment tool. It allows you to hone your cloud cybersecurity skills by creating and completing several "capture-the-flag" style scenarios. Each scenario is composed of AWS resources arranged together to create a structured learning experience. Some scenarios are easy, some are hard, and many offer multiple paths to victory. As the attacker, it is your mission to explore the environment, identify vulnerabilities, and exploit your way to the scenario's goal(s).
                    </p>
                    <p class="lead">
                        Below are our main goals for CloudGoat:
                    </p>
                </div>
            </div>
            <div class="row text-center justify-content-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                        <i class="fa-solid fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Focused, Curated, High-Quality Learning Experiences</h4>
                    <p class="text-muted">Each of CloudGoat’s scenarios should provide the opportunity for experimentation, exploration, and building hands-on cloud security skills.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                        <i class="fa-solid fa-file fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Good Documentation</h4>
                    <p class="text-muted">We've done our best to ensure that CloudGoat’s scenarios are well-documented and easy to understand and evaluate in terms of difficulty, content, structure, and skills-required.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                        <i class="fa-solid fa-universal-access fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Easy to Install and Use</h4>
                    <p class="text-muted">We understand that CloudGoat is a means to an end - learning and practicing cloud security penetration testing. Therefore, we aim to keep things simple, straightforward, and reliable.</p>
                </div>
            </div>
            <div class="row text-center justify-content-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                        <i class="fa-solid fa-object-ungroup fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Modularity</h4>
                    <p class="text-muted">Each scenario is a standalone learning environment with a clear goal (or set of goals), and CloudGoat is able to start up, reset, or shut down each scenario independently.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                        <i class="fa-solid fa-arrow-up-right-dots fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Expandability</h4>
                    <p class="text-muted">CloudGoat’s core components (python app and scenarios) are designed to permit easy and independent expansion - by us or the community.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 bg-success bg-gradient text-white">
        <div class="container">
            <h1 class="display-5 fw-bold text-uppercase text-center mb-0">About</h1>
            <div class="w-100 my-4 fs-4 d-flex justify-content-center">
                <div class="me-3 lh-1 fw-bold">-------</div>
                <i class="fas fa-star"></i>
                <div class="ms-3 lh-1 fw-bold">-------</div>
            </div>
            <div class="row justify-content-center mb-4">
                <div class="col-lg-8 col-xl-7">
                    <p class="lead">
                        A Vietnamese student in Cybersecurity trying to learn some front-end to create an intuitive user inteface for other beginner.
                    </p>
                    <p class="lead">
                        <b>Why I do this</b>: CloudGoat doesn't have I user interface so new user may have problems trying to figure out what they need to do. This UI tries to improve the <em>Easy to Install and Use</em> goals.
                    </p>
                    <p class="lead">
                        The main repository of CloudGoat can be found <a href="https://github.com/RhinoSecurityLabs/cloudgoat" target="_blank" rel="noopener noreferrer"></a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer class="pt-4 my-md-5 pt-md-5 text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p class="lead mb-0">
                        2215 John Daniel Drive
                        <br>
                        Clark, MO 65243
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Around the Web</h4>
                    <a class="btn btn-outline-secondary btn-social mx-1" href="#!"><i class="fa-brands fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-secondary btn-social mx-1" href="#!"><i class="fa-brands fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-secondary btn-social mx-1" href="#!"><i class="fa-brands fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-secondary btn-social mx-1" href="#!"><i class="fa-brands fa-fw fa-github"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">About Freelancer</h4>
                    <p class="lead mb-0">
                        Freelance is a free to use, MIT licensed Bootstrap theme created by
                        <a href="http://startbootstrap.com">Start Bootstrap</a>
                        .
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright py-4 text-center text-secondary">
        <div class="container"><small>Copyright © CloudGoat GUI 2022</small></div>
    </div>
    {% include "./general/footer.html" %}
</body>
</html>